<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="487895fc-e348-48cd-aedd-0c883c619dae" Publisher="CN=rlbisbe" Version="1.0.0.2" />
  <Properties>
    <DisplayName>Metrics</DisplayName>
    <PublisherDisplayName>Roberto</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Metrics</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Metrics.App">
      <VisualElements DisplayName="Metrics" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Metrics" ForegroundText="light" BackgroundColor="#00283A">
        <DefaultTile ShowName="allLogos" ShortName="Metrics" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>